<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}DNA Varejo{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}

            {% stylesheets 
                'bundles/dnavarejohome/css/bootstrap.css' 
                'bundles/dnavarejohome/css/normalize.css'
                'bundles/dnavarejohome/css/main.css'
                output='css/compiled/main.css'
                filter='cssrewrite' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/dnavarejohome/js/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        <nav id="ribbon-menu" class="container">
            <div id="ribbon-left"></div>
            <div id="ribbon-right"></div>
            <div id="ribbon-menu-stripe">

                <div id="logo">
                    <img src="{{ asset('bundles/dnavarejohome/images/logo.png') }}" alt="DNA Varejo"/>
                </div>

                <a data-target="about"><span>QUEM SOMOS</span></a>
                <a data-target="work"><span>O QUE FAZEMOS</span></a>
                <a data-target="services"><span>SERVIÇOS</span></a>
                <a data-target="clients"><span>CLIENTES</span></a>
                <a data-target="contact"><span>CONTATO</span></a>
            </div>
        </nav>
        <div  id="content" class="container">
            
                <section id="about">
                    <div class="row">
                        <div id="" class="col-md-7">
                            <h1>Somos</h1>
                            <p>
                                uma consultoria especializada em Representação Comercial eTrade Marketing.
                            </p>
                            <div class="box">
                                <p>Oferecemos soluções personalizadas para levar nossos clientes a novos mercados  e aumentar as vendas de seus produtos com ações focadas no ponto de venda.</p>
                                <p>Com estrutura moderna e equipes qualificadas, trabalhamos para que distribuição, exposição e venda dos produtos sejam feitos com excelência.</p>
                                <p>Assim, buscamos nos posicionar como uma solução efetiva para aumento das vendas no varejo, com qualidade e inovação. </p>
                            
                            </div>
                        </div>
                        <div class="col-md-5">
                            
                        </div>
                </section>
                <div class="divider"></div>
                <section id="work" class="col-12">

                </section>
                <div class="divider"></div>
                <section id="services" class="col-12">
                    <article>
                        
                    </article>
                    <article>
                        
                    </article>
                    <article>
                        
                    </article>
                </section>
                <div class="divider"></div>
                <section id="clients" class="col-12">

                </section>
                <div class="divider"></div>
                <section id="contact" class="col-12">

                </section>
                
            </div>
                
        </div>
        
        {% block javascripts %}
            {% javascripts 
            '@DNAVarejoHomeBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/bootstrap.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/gsap/TweenMax.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/gsap/plugins/ScrollToPlugin.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/scrollmagic/iscroll.js'
            '@DNAVarejoHomeBundle/Resources/public/js/scrollmagic/jquery.scrollmagic.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/main.js'
            output='js/compiled/main.js' 
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                (function(b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function() {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = 'http://www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-XXXXX-X');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>