<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}DNA Varejo{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            
            {% stylesheets 
                'bundles/dnavarejohome/css/normalize.css'
                'bundles/dnavarejohome/css/bootstrap.css' 
                'bundles/dnavarejohome/css/main.css'
                output='css/compiled/main.css'
                filter='cssrewrite' 
            %}
            
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/dnavarejohome/js/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body id="body">
        <nav id="ribbon-menu" class="container">
            <div id="ribbon-left"></div>
            <div id="ribbon-right"></div>
            <div id="ribbon-menu-stripe">

                <div id="logo">
                    <img src="{{ asset('bundles/dnavarejohome/images/logo.png') }}" alt="DNA Varejo"/>
                </div>

                <a data-target="about"><span>QUEM SOMOS</span></a>
                <a data-target="work"><span>O QUE FAZEMOS</span></a>
                <a data-target="services"><span>SERVIÇOS</span></a>
                <a data-target="clients"><span>CLIENTES</span></a>
                <a data-target="contact"><span>CONTATO</span></a>
            </div>
        </nav>
        <div  id="content" class="container">

            <section id="about" class="primary-section">
                <div class="row">
                    <div class="col-md-8 col-md-push-16">
                        <div id="white-bar">
                            <div class="little-circles"></div>
                            <div class="arrow-red-down"></div>
                            <div class="supermarket"></div>
                            <div class="arrow-red-down"></div>
                            <div class="products"></div>
                            <div class="arrow-red-down"></div>
                            <div class="girl-shopping-car"></div>
                        </div>
                    </div>
                    <div class="col-md-16 col-md-pull-8">
                        <h1>Somos</h1>
                        <p>
                            uma consultoria especializada em Representação Comercial eTrade Marketing.
                        </p>
                        <div class="box">
                            <p>Oferecemos soluções personalizadas para levar nossos clientes a novos mercados  e aumentar as vendas de seus produtos com ações focadas no ponto de venda.</p>
                            <p>Com estrutura moderna e equipes qualificadas, trabalhamos para que distribuição, exposição e venda dos produtos sejam feitos com excelência.</p>
                            <p>Assim, buscamos nos posicionar como uma solução efetiva para aumento das vendas no varejo, com qualidade e inovação. </p>

                        </div>
                    </div>

                </div>
            </section>
            <div class="divider"></div>
            <section id="work" class="primary-section">
                <h1>Fazemos</h1>
                <p>nosso trabalho para que você se dedique ao que sabe fazer melhor: seu produto.</p>
                <div>
                    <article id="work-1">
                        <div class="icon-label">
                            Sua empresa
                        </div>
                        <div class="icon icon-itens"></div>
                    </article>
                    <div id="work-arrow-1" class="arrow-red"></div>
                    <article id="work-2">
                        <div class="icon-label">
                            DNA
                        </div>
                        <div class="icon icon-dna"></div>
                        <div class="box">
                            <h3>Representação Comercial</h3>
                            <p>
                                Novos mercados para seu produto.Nossa expertise e contato com grandes redes de varejo permitem colocar seus produtos na gôndola.
                            </p>
                        </div>
                        <div class="plus-button"></div>
                    </article>
                    <div id="work-arrow-2" class="arrow-red"></div>
                    <article id="work-3">
                        <div class="icon-label">
                            Rede Varejista
                        </div>
                        <div class="icon icon-market"></div>
                    </article>
                    <div id="work-arrow-3" class="arrow-red"></div>
                    <article id="work-4">
                        <div class="icon-label">
                            DNA
                        </div>
                        <div class="icon icon-dna"></div>
                        <div class="box">
                            <h3>Trade Marketing</h3>
                            <p>
                                Seu produto cara a cara com o consumidor. Com ações no ponto de venda, viabilizamos a venda de produtos e conquista de clientes. <br/>
                                Da exposição adequada e material promocional, ao treinamento de atendentes específico para seu produto. 
                            </p>
                        </div>
                        <div class="plus-button"></div>
                    </article>
                    <div id="work-arrow-4" class="arrow-red"></div>
                    <article id="work-5">
                        <div class="icon-label">
                            Lojas
                        </div>
                        <div class="icon icon-cart"></div>
                    </article>
                    <div id="work-arrow-5" class="arrow-red"></div>
                    <article id="work-6">
                        <div class="icon-label">
                            DNA
                        </div>
                        <div class="icon icon-dna"></div>
                        <div class="box">
                            <h3>Resultados</h3>
                            <p>
                                Expansão para seus negócios.
                                Nossas ações permitem uma rica experiência de marca e contato direto com o seu produto. Assim, expandimos seu mercado,  suas vendas e lucro, enquanto conquistamos seu público-alvo. 
                            </p>
                        </div>
                        <div class="plus-button"></div>
                    </article>
                    <div id="work-arrow-6" class="arrow-red"></div>
                </div>
            </section>
            <div class="divider"></div>
            <section id="services" class="primary-section">
                <h1>Serviços</h1>
                <p>
                    que promovem a sinergia entre clientes, redes de varejo e profissionais contratados, abrangendo todos os níveis estratégicos da Representação Comercial e Trade Marketing.<br/>
                    Clique em <img src="{{ asset('bundles/dnavarejohome/css/images/plus.png') }}" alt="" width="25"/> para saber mais.
                </p>
                <div class="box">
                    <div class="row">
                        <div class="col-md-7 no-padding">
                            <div class="girl-icon">
                                <div class="checkmark"></div>
                            </div>
                            <div class="girl-icon">
                                <div class="crossmark"></div>
                            </div>
                            <br/>
                            <div class="girl-icon">
                                <div class="crossmark"></div>
                            </div>
                            <div class="girl-icon">
                                <div class="checkmark"></div>
                            </div>
                        </div>
                        <div class="col-md-1 no-padding">
                            <div class="responsive-green-arrow"></div>
                        </div>
                        <div class="col-md-7 no-padding">
                            <div class="resume"></div>
                        </div>
                        <div class="col-md-1 no-padding">
                            <div class="responsive-green-arrow"></div>
                        </div>
                        <div class="col-md-8 no-padding">
                            <div class="apples"></div>
                            <div class="girl"></div>
                        </div>
                    </div>
                </div>
                <div id="services-list" class="row">
                    <div class="col-md-8 col-sm-12">
                        <h3><span class="counter">1.</span> Recrutamento & Seleção</h3>
                        <ul>
                            <li>Processo de Admissão.</li>
                            <li>Folha de pagamento e benefícios.</li>
                            <li>
                                Treinamento e qualificação:
                                <ul>
                                    <li>Atendentes Vendedoras.</li>
                                    <li>Degustadoras.</li>
                                    <li>Demonstradoras de Produto.</li>
                                    <li>Vendedoras.</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="see-more">Saiba</div>
                    </div>


                    <div class="col-md-8 col-sm-12">
                        <h3><span class="counter">2.</span> Treinamento de Vendas</h3>
                        <p>
                            Mapeamento de necessidades a partir do perfil do cargo, para criar treinamentos específicos. 
                        </p>
                        <div class="see-more">Saiba</div>
                    </div>


                    <div class="col-md-8 col-sm-12">
                        <h3><span class="counter">3.</span> Supervisor</h3>
                        <p>
                            Profissional com perfil de liderança e conhecimentos específicos do produto. 
                        </p>
                        <p>
                            Treinado para ser o guardião do sortimento e supervisionar as atendentes vendedoras. 
                        </p>
                        <p>
                            Rotina com roteiro programado para visitação nas lojas. 
                        </p>
                        <div class="see-more">Saiba</div>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <h3><span class="counter">4.</span> Recursos Humanos</h3>
                        <ul>
                            <li>Emissão de documentos.</li>
                            <li>Controle de visitas e assiduidade.</li>
                            <li>Roteiro para supervisão das lojas.</li>
                            <li>Exames médicos.</li>
                            <li>Controle, Ficha de EPI e uniformes.</li>
                        </ul>
                        <div class="see-more">Saiba</div>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <h3><span class="counter">5.</span> Atendente Vendedora & Degustadora</h3>
                        <ul>
                            <li>Abordagem e atendimento.</li>
                            <li>Apresentação e vendas. </li>
                            <li>Benefícios & Nutrição.</li>
                            <li>Dicas de preparo e receitas.</li>
                            <li>Degustação no Ponto de Venda.</li>
                            <li>Monitoramento e Boa Exposição.</li>
                        </ul>
                        <div class="see-more">Saiba</div>
                    </div>

                </div>
            </section>
            <div class="divider"></div>
            <section id="recruitment">
                <div class="row">
                    <div class="col-md-14">
                        <div class="box">
                            <h1>
                                Recrutamento & Seleção
                            </h1>
                            <p>
                                Após estudo sobre a empresa, produto e posicionamento de marca, definimos o                                   perfil profissional ideal.
                            </p>
                            <p>
                                Assim, atuamos durante o processo de seleção do candidato 
                                para uma escolha adequada.
                            </p>
                            <p>
                                Em seguida, fornecemos o treinamento específico para o produto, 
                                além dos processos de Recursos Humanos. 
                            </p>
                            <p>
                                Finalmente, monitoramos e avaliamos os profissionais, garantindo 
                                a excelência de sua atuação. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div id="recruitment-icons">
                            <div id="recruitment-resume"></div>
                            <div id="recruitment-1"></div>
                            <div id="recruitment-arrow-1" class="arrow-red-shadow arrow-red-shadow-0"></div>
                            <div id="recruitment-2"></div>
                            <div id="recruitment-arrow-2" class="arrow-red-shadow arrow-red-shadow-45"></div>
                            <div id="recruitment-3"></div>
                            <div id="recruitment-arrow-3" class="arrow-red-shadow arrow-red-shadow-135"></div>
                            <div id="recruitment-4"></div>
                            <div id="recruitment-arrow-4" class="arrow-red-shadow arrow-red-shadow-180"></div>
                            <div id="recruitment-5"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider"></div>
            <section id="trainning">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <h1>Treinamento de Vendas</h1>
                            <p>A partir da ficha técnica do seu produto, suas caracteríscas e histórico da sua empresa, elaboramos um material específico
                                para o treinamento da força de vendas.</p>
                            <p>
                                Após o treinamento, por meio de nossos métodos de avaliação, nos certificamos que os profissionais capacitados exerçam os serviços com excelência nos pontos de venda, contribuindo para a construção e posicionamento de marca e a conquista de novos clientes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="trainning-icons">
                            <div id="trainning-center"></div>
                            <div id="trainning-1"></div>
                            <div id="trainning-arrow-1" class="arrow-red-shadow arrow-red-shadow-0"></div>
                            <div id="trainning-2"></div>
                            <div id="trainning-arrow-2" class="arrow-red-shadow arrow-red-shadow-45"></div>
                            <div id="trainning-3"></div>
                            <div id="trainning-arrow-3" class="arrow-red-shadow arrow-red-shadow-135"></div>
                            <div id="trainning-4"></div>
                            <div id="trainning-arrow-4" class="arrow-red-shadow arrow-red-shadow-180"></div>
                            <div id="trainning-5"></div>
                            <div id="trainning-arrow-5" class="arrow-red-shadow arrow-red-shadow-225"></div>
                            <div id="trainning-6"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider"></div>
            <section id="clients" class="primary-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <h1>Clientes</h1>
                            <span class="subline">que inspiram cases de sucesso.</span>
                            <p>Seja empresas de produtos alimentícios a grandes redes de varejo, a DNA está sempre presente: da abertura de novos mercados a campanhas que colocam seus produtos em contato direto com o consumidor. </p>
                            <p>
                                Clique em <img src="{{ asset('bundles/dnavarejohome/css/images/plus.png') }}" alt="" width="25"/> para saber mais sobre cada um de nossos trabalhos.
                            </p>
                        </div>
                        <div id="clients-icons">
                            <div class="client-icon">
                                <div class="icon icon-itens"></div>
                                <div class="checkmark-green"></div>
                                <div class="icon-label">
                                    Seu produto
                                </div>
                            </div>
                            <div class="arrow-red-shadow"></div>
                            <div class="client-icon">
                                <div class="icon icon-market"></div>
                                <div class="checkmark-green"></div>
                                <div class="icon-label">
                                    Rede Varejista
                                </div>
                            </div>
                            <div class="arrow-red-shadow"></div>
                            <div class="client-icon">
                                <div class="icon icon-cart"></div>
                                <div class="checkmark-green"></div>
                                <div class="icon-label">
                                    Loja
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="case-page" class="box">
                            <div class="client-logo">
                                <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="84" height="84"/>
                            </div>
                            <h2>Extra Supermercado</h2>
                            <div class="col-md-12">

                                <h4>A Empresa</h4>
                                <p>
                                    A Zucca Cogumelos surgiu há 15 anos no interior paulista. Desconhecidos no Brasil, os cogumelos mostraram-se um negócio viável. Desde então, a Zucca investe em tecnologia, produção e variedade para atender ao mercado crescente.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="case-image-1">
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                </div>
                            </div>
                                
                            <div class="clearfix"></div>
                            <div class="col-md-24">
                            <h4>O que fizemos</h4>
                            <p>
                                Além da Representação Comercial, criamos uma equipe dedicada à Zucca e buscamos ampliar mercados e a carteira de clientes, incluindo grandes redes de supermercado como Pão de Açúcar, Walmart e Carrefour.
                            </p>
                            </div>
                            <div class="col-md-12">
                                <div class="case-image-2">
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>Resultados</h4>
                                <p>Com o aumento da produção, a Zucca conta com uma equipe exclusiva, permitindo o fortalecimento da marca, aumento do share de mercado e a fidelização do cliente.</p>
                            </div>
                            <div id="case-close"></div>
                        </div>
                        <div id="clients-cases">
                            <ul>
                                <li>
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                                <li class="even">
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                                <li class="even">
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                                <li class="even">
                                    <img src="{{ asset('bundles/dnavarejohome/images/case-1.jpg') }}" alt="" width="113" height="113"/>
                                    <div class="plus-button"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider"></div>
            <section id="contact" class="primary-section">
                <h1>Contato</h1>
                <span class="subline">que começa uma história de sucesso.</span>
                <div class="row">
                    <div class="col-md-14">
                        <p>
                            A DNA Varejo tem a solução perfeita para sua empresa.<br/>
                            Ligue e agende uma reunião.  
                        </p>
                        <div id="contact-icons">
                            <div class="icon-phone"></div>
                            <div class="arrow-cream"></div>
                            <div class="icon-callcenter"></div>
                            <div class="arrow-cream"></div>
                            <div class="icon-handshake"></div>
                        </div>
                        <div class="box">
                            <address>
                                Endereço:<br/>
                                <br/>
                                Rua Rodolfo Troppmair, 33 <br/>
                                Jardim Paulista, São Paulo – SP <br/>
                                CEP 04001-010<br/>
                                <br/>
                                Fone<br/>
                                11  981 990 745
                            </address>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <form method="post" action="contact/send">
                            <p>Se preferir, preencha os campos abaixo e envie uma mensagem.</p>
                            <label for="input-name" class="sr-only">Nome</label>
                            <input id="input-name" type="text" name="name" placeholder="Nome"/>
                            <label for="input-email" class="sr-only">Email</label>
                            <input type="text" name="email" placeholder="Email"/>
                            <label for="input-message" class="sr-only">Mensagem</label>
                            <textarea rows="4" id="input-message" name="name" placeholder="Mensagem"></textarea>
                        </form>
                    </div>
                </div>
            </section>

        </div>

        {% block javascripts %}
            {% javascripts 
            '@DNAVarejoHomeBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/bootstrap.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/gsap/TweenMax.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/gsap/plugins/ScrollToPlugin.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/scrollmagic/iscroll.js'
            '@DNAVarejoHomeBundle/Resources/public/js/scrollmagic/jquery.scrollmagic.min.js'
            '@DNAVarejoHomeBundle/Resources/public/js/scrollmagic/jquery.scrollmagic.debug.js'
            '@DNAVarejoHomeBundle/Resources/public/js/main.js'
            output='js/compiled/main.js' 
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                (function(b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function() {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = 'http://www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-XXXXX-X');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>